body {
    background-image: url("pictures/Background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100%, 100%;
}

h1 {
  text-align: center;
  font-family: "arial";
  font-size: 50px;
  color: black;
  padding-top: 50px
}

/* Add a dark background color with a little bit see-through */
.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.9;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: red !important;
}

.carousel-inner img {
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%); /* make all photos black and white */
    height: 30%;
    width: 30%;
}

.carousel-control {
  color: black;
}

.wait-img {
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
  height: 50%;
  width: 50%;
}
